<div class="wrapper" id="site-views">
  <header class="main-header" id="site-head"></header>
  <aside class="main-sidebar" id="site-menu"></aside>  
  <div id="site-views" class="site-views">
    {{#each views}}
    <div class="site-view" data-page="{{@key}}"></div>
    {{/each}}
  </div>
  <footer class="main-footer" id="site-footer"></footer>
  <aside class="control-sidebar control-sidebar-dark" id="site-tools"></aside>
  <div class="control-sidebar-bg"></div>
</div>  
  